.idea
.git
.idea_modules
logs
target
sigar
project/target
project/.idea
project/project
microservices/target
bootstrap/target
crawler-microservice/target
discovery/target
discovery-microservice/target
domain/target
examples/target
query-side-results/target
query-side-standings/target
activator.bat
activator-launch-1.2.3.jar
activator